body {
  font-family: "Roboto", sans-serif;
}

/* Style for the table header */
.table thead {
  background-color: #354a5e; /* Gray background for header */
  color: #000 !important; /* White text for contrast */
}

/* Style for table borders */
.table-bordered {
  border: 1px solid #dee2e6; /* Border color for the table */
}

/* Add borders to each cell */
.table-bordered td,
.table-bordered th {
  border: 3px solid #dee2e6;
}
