.image-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.image-container img {
  max-width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space below each image */
}
